.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}
.heading {
  font-family: Bree serif;
  font-size: 40px;
  color: white;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 60px;
  }
  .notfound-container{
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
  }
}
