.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.RCB {
  background-image: linear-gradient(to top, #1e293b, #a4261d);
  min-height: 100vh;
}
.KKR {
  background-image: linear-gradient(to top, #1e293b, #5755a7);
  min-height: 100vh;
}
.KXP {
  background-image: linear-gradient(to top, #1e293b, #d91c1f);
  min-height: 100vh;
}
.CSK {
  background-image: linear-gradient(to top, #1e293b, #f7db00);
  min-height: 100vh;
}
.RR {
  background-image: linear-gradient(to top, #1e293b, #da237b);
  min-height: 100vh;
}
.MI {
  background-image: linear-gradient(to top, #1e293b, #13418b);
  min-height: 100vh;
}
.SH {
  background-image: linear-gradient(to top, #1e293b, #f26d22);
  min-height: 100vh;
}
.DC {
  background-image: linear-gradient(to top, #1e293b, #4f5db0);
  min-height: 100vh;
}
.banner-image {
  width: 93vw;
  margin: 20px;
}
.match-cards-list {
  list-style-type: none;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
